/* give your assignment a fun background color */

body {
	animation-name: backgroundColorPalette;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
  font-size: 18px
}

@keyframes backgroundColorPalette {
	0% {
		background: #00FEEC;
	}
	25% {
		background: #54FFD1;
	}
	50% {
		background: #82FFB5;
	}
	75% {
		background: #ACFF99;
	}
	100% {
		background: #F9F871;
	}
}

ul {
  background-color: #00FEEC;
  margin: 20px;
  margin-right: 30px;
}

footer {
  text-align: center;
}
